@* ﻿@model Biblioteka.Models.Uzytkownik

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/User/_UserLayout.cshtml";
}


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id_uzytkownik" />
    <div class="form-group">
        <label asp-for="imie" class="control-label">Imie</label>
        <input asp-for="imie" class="form-control" />
        <span asp-validation-for="imie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="nazwisko" class="control-label">Surname</label>
        <input asp-for="nazwisko" class="form-control" />
        <span asp-validation-for="nazwisko" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="data_urodzenia" class="control-label">BirthDate</label>
        <input asp-for="data_urodzenia" type="date" class="form-control" />
        <span asp-validation-for="data_urodzenia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email" class="control-label">Email</label>
        <input asp-for="email" type="text" class="form-control" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="miasto" class="control-label">Haslo</label>
        <input asp-for="miasto" type="text" class="form-control" />
        <span asp-validation-for="miasto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="haslo" class="control-label">Haslo</label>
        <input asp-for="haslo" type="text" class="form-control" />
        <span asp-validation-for="haslo" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <small class="text-muted" style="text-align: center; display: block;">
            Password for new users is set to: <strong>User123!</strong> 
            To use it properly from your account, change the password from your control panel.
        </small>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
} *@