@model List<Biblioteka.Models.KsiazkaViewModel>
@{
    ViewData["Title"] = "Ksiazki";
}
<h3>@ViewData["Title"]</h3>

<table>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var ksiazka in Model)
            {
                <tr>
                    <td>@ksiazka.tytul</td>
                    <td>@ksiazka.autor</td>
                    <td>@ksiazka.rok_wydania</td>
                </tr>
            }
        }
    </tbody>
</table>