
@{
    ViewData["Title"] = "Lista Ksiazek";
}
<h1>Lista Ksiazek</h1>
<table>
    <tr>
        <th>Tytul</th>
        <th>Autor</th>
        <th>Wydawnictwo</th>
        <th>Rok Wydania</th>
        <th>Ilosc</th>
    </tr>

    
</table>


